  <div class="lcars-transaction_preview-item">
    <div class="lcars-card-field">
      <%= transaction.title %>
    </div>

    <div class="lcars-card-field">
      <%= transaction.amount %>
    </div>

    <div class="lcars-card-field">
      <%= transaction.type %>
    </div>

    <div class="lcars-card-field">
      <%= transaction.date %>
    </div>

    <div class="lcars-card-field">
      <%= transaction.category_name %>
    </div>

    <div class="lcars-card-field">
      <%= transaction.group_name %>
    </div>
</div>
