<%= turbo_frame_tag transaction do %>
  <div class="account-transaction-list account-transaction-list-grid">
    <div class="list-item">
      <%= transaction.title %>
    </div>

    <div class="list-item">
      <%= transaction.amount %>
    </div>

    <div class="list-item">
      <%= transaction.kind %>
    </div>

    <div class="list-item">
      <%= transaction.date %>
    </div>

    <div class="list-item">
      <%= transaction.category_name %>
    </div>

    <div class="list-item">
      <%= transaction.group_name %>
    </div>

    <div  class="list-item">
      <%= link_to t('buttons.edit'),
                  edit_account_transaction_path(id: transaction.id),
                  class: "btn btn--light" %>
    </div>
  </div>
<% end %>
