<%= turbo_frame_tag transaction do %>
<div class="transaction">
  <div>
    <%= transaction.title %>
  </div>
  <div>
    <%= transaction.amount %>
  </div>

  <div>
    <%= transaction.kind %>
  </div>

  <div>
    <%= transaction.date %>
  </div>

  <%= link_to transaction.account.name, transaction.path,
                data: { turbo_frame: "_top" }  %>

  <div class="account__actions">
    <%= link_to t('buttons.edit'),
                edit_account_transaction_path(id: transaction.id),
                class: "btn btn--light" %>
  </div>
</div>
<% end %>
