<%= turbo_frame_tag transaction do %>
<tr>
    <td>
      <%= transaction.title %>
    </td>

    <td>
      <%= transaction.amount %>
    </td>

    <td>
      <%= transaction.type %>
    </td>

    <td>
      <%= transaction.date %>
    </td>

    <td>
      <%= transaction.category_name %>
    </td>

    <td>
      <%= transaction.group_name %>
    </td>

    <td>
      <%= link_to t('buttons.edit'),
                  edit_account_transaction_path(id: transaction.id),
                  class: "lcars-button lcars-button--secondary",
                  data: { turbo_frame: "account_transaction_#{transaction.id}" } %>

      <%= link_to t('buttons.anticipate'),
                  anticipate_form_account_transaction_path(id: transaction.id),
                  class: "lcars-button lcars-button--secondary" %>
    </td>
</tr>
<% end %>
