
<div class="lcars-container">
  <%= turbo_frame_tag "first_turbo_frame" do %>
    <div class="lcars-header lcars-header--section">
      <%= link_to t('buttons.back'),
          accounts_path,
          data: { turbo_frame: "_top" },
          class: "lcars-button" %>
            <h1><%= t('transactions.index.transactions') %></h1>

    </div>

  <% end %>
    <div class="header">
      <%= link_to t('transactions.index.new_transaction'),
                  new_account_transaction_path,
                  data: { turbo_frame: "new_transaction" },
                  class: "lcars-button" %>
    </div>

  <%= turbo_frame_tag "new_transaction" %>

  <div class="lcars-actions">
    <%= link_to t('transactions.index.consolidated'),
      account_transactions_path({account_id: params[:account_id], future: 'false'}),
      method: :get,
      data: { turbo_frame: "transactions" },
      class: "lcars-button lcars-button--secondary" %>

    <%= link_to t('transactions.index.scheduled'),
      account_transactions_path({account_id: params[:account_id], future: 'true'}),
      method: :get,
      data: { turbo_frame: "transactions" },
      class: "lcars-button lcars-button--secondary" %>
  </div>

  <table class="lcars-table">
    <thead>
      <tr>
  <%= render partial: 'header' %>
        </tr>
    </thead>
    <tbody>
  <%= turbo_frame_tag "transactions" do %>
    <%= render partial: 'transaction', collection: @transactions %>
  <% end %>
    </tbody>
  </table>
