<%= turbo_frame_tag "investment_#{investment.id}" do %>

  <tr>
    <td>
      <%= link_to investment.name, investment_path(investment),
                  data: { turbo_frame: "_top" }  %>
    </td>

    <td>
      <%= investment.kind %>
    </td>

    <td>
      <%= investment.invested_amount %>
    </td>

    <td>
      <%= investment.balance %>
    </td>

    <td>
      <%= investment.shares_total %>
    </td>

    <td>
      <%= investment.average_price %>
    </td>

    <td>
      <%= link_to investment.account_name, account_path(investment.account_id),
                  data: { turbo_frame: "_top" } %>
    </td>

    <td>
      <%= link_to t('buttons.edit'),
                  investment.edit_path,
                  class: "lcars-button lcars-button--secondary" %>
    </td>
  </tr>
<% end %>
