<%= turbo_frame_tag "investment_#{investment.id}" do %>

<div class="investment">
  <%= link_to investment.name, investment.path,
                data: { turbo_frame: "_top" }  %>

  <div>
    <%= investment.invested_amount %>
  </div>

  <div>
    <%= investment.current_amount %>
  </div>

  <div>
    <%= investment.shares_total %>
  </div>

  <div>
    <%= investment.kind %>
  </div>

  <div>
    <%= link_to investment.account_name, account_path(investment.account_id),
                data: { turbo_frame: "_top" } %>
  </div>

    <%= link_to t('buttons.edit'),
                investment.edit_path,
                class: "btn btn--light" %>

</div>
<% end %>
