<main class="container">
  <%= turbo_frame_tag "first_turbo_frame" do %>

    <div class="header">
      <h1>Investimentos</h1>
</div>
  <% end %>

<div class="investment item-label">
  <%= t('.name') %>
  <div>
    <%= t('.invested') %>
  </div>

  <div>
    <%= t('.current') %>
  </div>

  <div>
    <%= t('.shares') %>
  </div>

  <div>
    <%= t('.kind') %>
  </div>

  <div>
    <%= t('.account') %>
  </div>
  <%= t('.action') %>
</div>

  <%= turbo_frame_tag "investments" do %>
    <%= render partial: '/investments/investment', collection: @investments %>
  <% end %>

</main>
