<main class="container">
  <%= turbo_frame_tag "first_turbo_frame" do %>

    <div class="header">
      <h1><%= t('investments.investments.index.title') %>% </h1>
</div>
  <% end %>

<div class="investment item-label">
  <%= t('investments.investments.index.name') %>
  <div>
    <%= t('investments.investments.index.invested') %>
  </div>

  <div>
    <%= t('investments.investments.index.current') %>
  </div>

  <div>
    <%= t('investments.investments.index.shares') %>
  </div>

  <div>
    <%= t('investments.investments.index.kind') %>
  </div>

  <div>
    <%= t('investments.investments.index.account') %>
  </div>

  <%= t('investments.investments.index.actions') %>
</div>

  <%= turbo_frame_tag "investments" do %>
    <%= render partial: '/investments/investment', collection: @investments %>
  <% end %>

</main>
