<main class="container">
  <%= turbo_frame_tag "first_turbo_frame" do %>
    <div class="header">
          <h1><%= t('investments.investments.index.title') %></h1>
    </div>
  <% end %>

  <div class="account-investments-list-header investment-index-list-grid">
    <div class="list-header-item">
      <%= t('account.show.investments.name')  %>
    </div>

    <div class="list-header-item">
      <%= t('account.show.investments.kind') %>
    </div>

    <div class="list-header-item">
      <%= t('account.show.investments.invested_amount') %>
    </div>

    <div class="list-header-item">
      <%= t('account.show.investments.current_amount') %>
    </div>

    <div class="list-header-item">
      <%= t('account.show.investments.shares_total') %>
    </div>

    <div class="list-header-item">
      <%= t('account.show.investments.average_price') %>
    </div>

    <div  class="list-header-item">
      <%= t('investments.investments.index.account') %>
    </div>
  </div>

  <%= turbo_frame_tag "investments" do %>
    <%= render partial: '/investments/investment', collection: @investments %>
  <% end %>
</main>
