<main class="container">
  <%= turbo_frame_tag "first_turbo_frame" do %>

    <div class="header">
      <h1>Posições</h1>
      <%= link_to "Cadastrar Posição",
                  new_investment_position_path(investment_id: params[:investment_id]),
                  data: { turbo_frame: "new_position" },
                  class: "lcars-button" %>
    </div>
  <% end %>

  <%= turbo_frame_tag "new_position" %>

  <%= turbo_frame_tag "positions" do %>
    <%= render partial: 'position', collection: @positions %>
  <% end %>

</main>
