<%= turbo_frame_tag "investment_#{investment.id}" do %>

  <tr>
    <td>
      <%= link_to investment.name, investment_path(investment), data: { turbo_frame: "_top" }, class: "lcars-link" %>
    </td>
    <td>
      <%= investment.kind %>
      </td>
    <td>
      <%= investment.invested_amount %>
    </td>
    <td>
      <%= investment.balance %>
    </td>
    <td>
      <%= investment.shares_total %>
    </td>
        <td>
      <%= investment.current_price_per_share %>
    </td>
    <td>
      <%= investment.average_price %>
    </td>
    <td>
      <%= investment.group %>
    </td>
    <td>
      <%= link_to t('buttons.edit'), edit_investment_path(investment), class: "lcars-btn-light" %>
    </td>
  </tr>
<% end %>
