<%= turbo_frame_tag "investment_#{investment.id}" do %>

  <div class="investment">
    <%= link_to investment.name, investment_path(investment),
                  data: { turbo_frame: "_top" }  %>

    <div>
      R$ <%= investment.invested_value %>
    </div>

    <div>
      R$ <%= investment.current_value %>
    </div>

    <div>
      <%= investment.kind %>
    </div>

    <div class="investment__actions">

      <%= link_to "Alterar",
                  edit_investment_path(investment),
                  class: "btn btn--light" %>
    </div>
  </div>
  <% end %>
