<%= turbo_frame_tag "investment_#{investment.id}" do %>

  <div class="investment">
    <%= link_to investment.name, investment_path(investment),
                  data: { turbo_frame: "_top" }  %>

    <div>
      <%= investment.invested_amount %>
    </div>

    <div>
      <%= investment.current_amount %>
    </div>

    <div>
      <%= investment.kind %>
    </div>

    <div class="investment__actions">

      <%= link_to t('buttons.edit'),
                  edit_investment_path(investment),
                  class: "btn btn--light" %>
    </div>
  </div>
  <% end %>
