<div class="account-investments-list-header account-investment-list-grid">
  <div class="list-header-item">
    <%= t('account.show.investments.name')  %>
  </div>

  <div class="list-header-item">
    <%= t('account.show.investments.kind') %>
  </div>

  <div class="list-header-item">
    <%= t('account.show.investments.invested_amount') %>
  </div>

  <div class="list-header-item">
    <%= t('account.show.investments.current_amount') %>
  </div>

  <div class="list-header-item">
    <%= t('account.show.investments.shares_total') %>
  </div>

  <div class="list-header-item">
    <%= t('account.show.investments.average_price') %>
  </div>
  <div  class="list-header-item">
    <%= t('account.show.investments.group') %>
  </div>
  <div  class="list-header-item">
  </div>
</div>
