<div class="subtitle"><%= t('.past_month_reports') %></div>
<div class="table-header" >
  <%= t('account.chart.past_month.incomes') %>
  <%= t('account.chart.past_month.expenses') %>
  <%= t('account.chart.past_month.invested') %>
  <%= t('account.chart.past_month.balance') %>
</div>

  <%= turbo_frame_tag "past_month_reports" do %>
    <%= render partial: 'past_month_report', collection: past_reports, as: :past_report %>
  <% end %>
