<div class="lcars-subtitle">
  <%= t('account.show.chart.past_month.title') %>
</div>

<div class="lcars-table-container">
  <table class="lcars-table">
  <thead>
    <tr>
        <th>
    <%= t('account.show.chart.past_month.date') %>
  </th>
  <th>
    <%= t('account.show.chart.past_month.incomes') %>
  </th>
  <th>
    <%= t('account.show.chart.past_month.expenses') %>
  </th>
  <th>
    <%= t('account.show.chart.past_month.invoice_payment') %>
  </th>
  <th>
    <%= t('account.show.chart.past_month.invested') %>
  </th>
  <th>
    <%= t('account.show.chart.past_month.balance') %>
  </th>
  </tr>
  </thead>

<tbody>
<%= turbo_frame_tag "past_month_reports" do %>
  <%= render partial: 'past_month_report', collection: past_reports, as: :past_report %>
<% end %>
</tbody>
  </table>

</div>
