<%= turbo_frame_tag "report_#{past_report.id}" do %>
  <div class="list account-past-months-header-grid">
    <div class="list-item">
      <%= past_report.month_income %>
    </div>

    <div class="list-item">
      <%= past_report.month_expense %>
    </div>

    <div class="list-item">
      <%= past_report.month_invested %>
    </div>

    <div class="list-item">
      <%= past_report.month_balance %>
    </div>
  </div>
<% end %>
