<%= turbo_frame_tag "report_#{past_report.id}" do %>
  <tr>
    <td>
      <%= past_report.report_date %>
    </td>
    <td>
      <%= past_report.month_income %>
    </td>
    <td>
      <%= past_report.month_expense %>
    </td>
    <td>
      <%= past_report.invoice_payment %>
    </td>
    <td>
      <%= past_report.month_invested %>
    </td>
    <td>
      <%= past_report.month_balance %>
    </td>
  </tr>
<% end %>
