  <div class="subtitle">
    <%= t('card.summary.title') %>
  </div>
  <table class="striped">
    <thead>
      <tr>
        <th><%= t('card.summary.balance') %></th>

      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= number_to_currency(account.balance, unit: 'R$', separator: ',', delimiter: '.') %></td>
        </tr>
    </tbody>
  </table>

<div class="subtitle"><%= t('card.summary.current_month_title') %></div>
        <p><span class="item-label"><%= t('card.summary.current_month.report_date') %>: </span><%= account.current_report&.date %></p>
        <p><span class="item-label"><%= t('card.summary.current_month.initial_balance') %>: </span>
        <%= number_to_currency(account.current_report&.initial_account_balance, unit: 'R$ ', separator: ',', delimiter: '.') %></p>
  <table class="striped">
    <thead>
      <tr>
        <th><%= t('card.summary.current_month.month_incomes') %></th>
        <th><%= t('card.summary.current_month.month_expenses') %></th>
        <th><%= t('card.summary.current_month.month_invested') %></th>
        <th><%= t('card.summary.current_month.month_balance') %></th>
        <th><%= t('card.summary.current_month.account_balance') %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= number_to_currency(account.current_report.month_income, unit: 'R$ ', separator: ',', delimiter: '.') %></td>
        <td><%= number_to_currency(account.current_report.month_expense, unit: 'R$ ', separator: ',', delimiter: '.') %></td>
        <td><%= number_to_currency(account.current_report.month_invested, unit: 'R$ ', separator: ',', delimiter: '.') %></td>
        <td><%= number_to_currency(account.current_report.month_balance, unit: 'R$ ', separator: ',', delimiter: '.') %></td>
        <td><%= number_to_currency(account.current_report.final_account_balance, unit: 'R$ ', separator: ',', delimiter: '.') %></td>
      </tr>
    </tbody>
  </table>
