<main class="container">
  <%= turbo_frame_tag "first_turbo_frame" do %>

    <div class="header">
  <%= link_to sanitize("&larr; Voltar para Contas"), accounts_path %>
      <h1><%= @account.name %></h1>

    </div>
  <% end %>
      <%= button_to "Transações",
                  account_transactions_path(@account, future: 'false'),
                  method: :get,
                  class: "btn btn--light" %>

    <%= render 'summary', :account => @account %>

</main>
