<main class="container">
  <%= turbo_frame_tag "first_turbo_frame" do %>

    <div class="header">
  <%= link_to "Voltar",
      accounts_path,
      data: { turbo_frame: "_top" },
      class: "btn btn--primary" %>

      <h1><%= @account.name %></h1>

    </div>
  <% end %>
  <div class="button">
      <%= link_to "Transações",
                  account_transactions_path(@account, future: 'false'),
                  method: :get,
                  class: "btn btn--light" %>
      <% if @account.broker? %>
        <%= link_to "Cadastrar Investimento",
        new_investment_path(account_id: @account.id),
                          data: { turbo_frame: "new_investment" },
        method: :get,
        class: "btn btn--light" %>
      <% end %>
            <%= link_to "Cadastrar transferência",
                  new_transference_path,
                  method: :get,
                  data: { turbo_frame: "new_transference" },
                  class: "btn btn--light" %>
      </div>
    <%= turbo_frame_tag "new_investment" %>
    <%= turbo_frame_tag "new_transference" %>

    <%= render 'summary', :account => @account %>

    <% if @account.broker? %>
    <%= render 'investments', :investments => @account.investments %>
    <% end %>


</main>
