  <div class="lcars-payment_preview-item">
    <div class="lcars-card-field">
      <%= payment.parcel %>
    </div>

    <div class="lcars-card-field">
      <%= payment.parcel_value %>
    </div>

    <div class="lcars-card-field">
      <%= payment.paid_parcels %>
    </div>

    <div class="lcars-card-field">
      <%= payment.kind %>
    </div>

    <div class="lcars-card-field">
      <%= payment.payment_date %>
    </div>

    <div class="lcars-card-field">
      <%= payment.interest %>
    </div>

    <div class="lcars-card-field">
      <%= payment.amortization %>
    </div>

    <div class="lcars-card-field">
      <%= payment.insurance %>
    </div>

    <div class="lcars-card-field">
      <%= payment.fees %>
    </div>

    <div class="lcars-card-field">
      <%= payment.adjustment %>
    </div>

    <div class="lcars-card-field">
      <%= payment.monetary_correction %>
    </div>
  </div>
</div>
