<main class="container">
  <%= turbo_frame_tag "first_turbo_frame" do %>

    <div class="header">
      <h1><%= t('payment.index.payments')%></h1>
      <%= link_to <%= t('payment.index.new_payment')%>,
                  new_financing_path,
                  data: { turbo_frame: "new_financing" },
                  class: "btn btn--primary" %>
    </div>
  <% end %>

  <%= turbo_frame_tag "new_financing" %>
  <%= turbo_frame_tag "installments" do %>
    <%= render partial: 'installment', collection: @financing.payments %>
  <% end %>

</main>