<%= turbo_frame_tag transference do %>
  <tr>
    <td><%= link_to transference.sender, account_path(transference.sender_id),
                  data: { turbo_frame: "_top" }  %></td>

    <td><%= link_to transference.receiver, account_path(transference.receiver_id),
                  data: { turbo_frame: "_top" }  %></td>

    <td><%= transference.amount %></td>

    <td><%= transference.date %></td>
  </tr>
<% end %>
