<main class="container">
  <%= turbo_frame_tag "first_turbo_frame" do %>

    <div class="header">
      <h1>Transferências</h1>
      <%= link_to "Nova Transferência",
                  new_transference_path,
                  data: { turbo_frame: "new_transference" },
                  class: "btn btn--primary" %>
    </div>
  <% end %>

  <%= turbo_frame_tag "new_transference" %>
  <%= turbo_frame_tag "transferences" do %>
    <%= render @transferences %>
  <% end %>

</main>
