<%= turbo_frame_tag financing do %>
  <tr>
    <td>
      <%= link_to financing.name, financing_path(financing),
                  data: { turbo_frame: "_top" } %>
    </td>

    <td><%= financing.installments %></td>
    <td><%= financing.borrowed_value %></td>
    <td><%= financing.outstanding_parcels %></td>

    <td class="lcars-financing-actions">
      <%= link_to t('buttons.edit'),
                  edit_financing_path(financing),
                  class: "lcars-button lcars-button--secondary" %>
      <%= button_to t('buttons.delete'),
                    financing_path(financing),
                    method: :delete,
                    class: "lcars-button lcars-button--danger" %>
    </td>
  </tr>
<% end %>
