<%= turbo_frame_tag financing do %>

<div class="financing">
  <%= link_to financing.name, financing_path(financing),
                data: { turbo_frame: "_top" }  %>
        <div><%= financing.installments %></div>
        <div><%= financing.borrowed_value %></div>

  <div class="financing__actions">
    <%= button_to t('buttons.delete'),
                  financing_path(financing),
                  method: :delete,
                  class: "btn btn--light" %>
    <%= link_to t('buttons.edit'),
                edit_financing_path(financing),
                class: "btn btn--light" %>
  </div>
</div>
<% end %>
