<%= turbo_frame_tag financing do %>

<div class="list financing-index-header-grid">
  <div class="list-item">
    <%= link_to financing.name, financing_path(financing),
                data: { turbo_frame: "_top" }  %>
  </div>

        <div class="list-item"><%= financing.installments %></div>
        <div class="list-item"><%= financing.borrowed_value %></div>

  <div  class="list-button">
    <%= button_to t('buttons.delete'),
                  financing_path(financing),
                  method: :delete,
                  class: "btn btn--light" %>
    <%= link_to t('buttons.edit'),
                edit_financing_path(financing),
                class: "btn btn--light" %>
  </div>
</div>
<% end %>
