<%= simple_form_for financing,
  as: :financing,
  url: financing.new_record? ? financings_path : financing_path(financing),
  html: { class: "financing long-form" } do |f| %>

  <% if financing.errors.any? %>
    <div class="error-message">
      <%= financing.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <%= f.input :name, input_html: { autofocus: true } %>
  <%= f.input :borrowed_value_cents, label: "Borrowed value", input_html: { autofocus: true } %>
  <%= f.input :installments, input_html: { autofocus: true } %>
  <%= f.submit class: "btn btn--secondary" %>
  <%= link_to "Cancel", financings_path, class: "btn btn--light" %>
<% end %>
