<%= turbo_frame_tag "financing_header" do %>

<div class="investment">
  <div> <%= t('financing.show.payments_header.parcel') %></div>
  <div> <%= t('financing.show.payments_header.total_paid') %></div>
  <div> <%= t('financing.show.payments_header.paid_parcels') %></div>
  <div> <%= t('financing.show.payments_header.date') %></div>
  <div> <%= t('financing.show.payments_header.interest') %></div>
  <div> <%= t('financing.show.payments_header.amortization') %></div>
  <div> <%= t('financing.show.payments_header.insurance') %></div>
  <div> <%= t('financing.show.payments_header.taxes') %></div>
  <div> <%= t('financing.show.payments_header.adjustments') %></div>
  <div> <%= t('financing.show.payments_header.monetary_correction') %></div>
  <div> </div>

</div>
<% end %>
