<div class="financing-payment-list-header financing-payment-list-header-grid">
  <div class="list-header-item"><%= t('financing.show.payments_header.parcel') %></div>
  <div class="list-header-item"><%= t('financing.show.payments_header.total_paid') %></div>
  <div class="list-header-item"><%= t('financing.show.payments_header.paid_parcels') %></div>
  <div class="list-header-item"><%= t('financing.show.payments_header.kind') %></div>
  <div class="list-header-item"><%= t('financing.show.payments_header.date') %></div>
  <div class="list-header-item"><%= t('financing.show.payments_header.interest') %></div>
  <div class="list-header-item"><%= t('financing.show.payments_header.amortization') %></div>
  <div class="list-header-item"><%= t('financing.show.payments_header.insurance') %></div>
  <div class="list-header-item"><%= t('financing.show.payments_header.fees') %></div>
  <div class="list-header-item"><%= t('financing.show.payments_header.adjustments') %></div>
  <div class="list-header-item"><%= t('financing.show.payments_header.monetary_correction') %></div>
  <div class="list-header-item"></div>
</div>
