<%= turbo_frame_tag "financings_payment_#{payment.id}" do %>

  <div class="list financing-payment-list-header-grid">
    <div class="list-item"><%= payment.parcel %></div>
    <div class="list-item"><%= payment.parcel_value %></div>
    <div class="list-item"><%= payment.paid_parcels %></div>
    <div class="list-item"><%= payment.kind %></div>
    <div class="list-item"><%= payment.payment_date %></div>
    <div class="list-item"><%= payment.interest %></div>
    <div class="list-item"><%= payment.amortization %></div>
    <div class="list-item"><%= payment.insurance %></div>
    <div class="list-item"><%= payment.fees %></div>
    <div class="list-item"><%= payment.adjustment %></div>
    <div class="list-item"><%= payment.monetary_correction %></div>

    <div class="list-button">
      <%= button_to t('buttons.delete'),
                    financing_payment_path(financing, payment),
                    method: :delete,
                    class: "btn btn--light" %>
      <%= link_to t('buttons.edit'),
                  edit_financing_payment_path(financing, payment),
                  method: :edit,
                  class: "btn btn--light" %>
    </div>
  </div>
<% end %>
