<tbody>
  <%= turbo_frame_tag "financings_payment_#{payment.id}" do %>
    <tr>
      <td><%= payment.parcel %></td>
      <td><%= payment.parcel_value %></td>
      <td><%= payment.paid_parcels %></td>
      <td><%= payment.kind %></td>
      <td><%= payment.payment_date %></td>
      <td><%= payment.interest %></td>
      <td><%= payment.amortization %></td>
      <td><%= payment.insurance %></td>
      <td><%= payment.fees %></td>
      <td><%= payment.adjustment %></td>
      <td><%= payment.monetary_correction %></td>

      <td>
<%= link_to t('buttons.edit'),
            edit_financing_payment_path(financing, payment),
            data: { turbo_frame: "financings_payment_#{payment.id}" },
            class: "lcars-button lcars-button--secondary" %>
        <%= button_to t('buttons.delete'),
                      financing_payment_path(financing, payment),
                      method: :delete,
                      class: "lcars-button lcars-button--danger" %>
      </td>
    </tr>
  <% end %>
</tbody>
