<%= turbo_frame_tag 'financing_summary' do %>
<div class="item">
  <div class="subtitle">
    <%= t('.summary') %>
  </div>

  <table class="striped">
    <thead>
        <th>Valor Financiado</th>
        <th>Parcelas</th>
        <th>Saldo Devedor</th>
        <th>Parcelas Restantes</th>
    </thead>
    <tbody>
      <tr>
        <td><%= @financing.borrowed_value %></td>
        <td><%= @financing.installments %></td>
        <td><%= @financing.outstanding_balance %></td>
        <td><%= @financing.outstanding_parcels %></td>
      </tr>
    </tbody>
  </table>

    <table>
    <thead>
        <th>Parcelas Pagas</th>
        <th>Total pago em juros</th>
        <th>Total de Correção Monetária</th>
        <th>Amortizações realizadas</th>
        <th>Total amortizado</th>
    </thead>
    <tbody>
      <tr>
        <td><%= @financing.ordinary_parcels %></td>
        <td><%= @financing.total_interest_paid %></td>
        <td><%= @financing.monetary_correction %></td>
        <td><%= @financing.non_ordinary_parcels %></td>
        <td><%= @financing.total_amortization %></td>
      </tr>
    </tbody>
  </table>
</div>
<% end %>
