<main class="container">
  <%= turbo_frame_tag "first_turbo_frame" do %>

    <div class="header">
      <h1><%= t('financing.index.financings')%></h1>
      <%= link_to t('financing.index.new_financing'),
                  new_financing_path,
                  data: { turbo_frame: "new_financing" },
                  class: "btn btn--primary" %>
    </div>
  <% end %>

  <%= render partial: 'index_header' %>
  <%= turbo_frame_tag "new_financing" %>
  <%= turbo_frame_tag "financings" do %>
    <%= render partial: 'financing', collection: @financings %>
  <% end %>
</main>
