  <%= turbo_frame_tag "first_turbo_frame" do %>

    <div class="header">
    <%= link_to "Voltar para financiamentos",
      financings_path,
      data: { turbo_frame: "_top" },
      class: "btn btn--primary" %>

      <h1><%= @financing.name %></h1>

      <%= link_to "Cadastrar novo pagamento",
                  new_financing_payment_path(@financing),
                  data: { turbo_frame: "new_financing_payment" },
                  class: "btn btn--primary"
      %>
    </div>
  <% end %>

  <%= turbo_frame_tag "new_financing_payment" %>

  <%= render 'summary', :financing => @financing %>

<h3> Pagamentos </h3>
  <table>
    <thead>
      <th>Parcela</th>
      <th>Valor Pago</th>
        <th>Parcelas pagas</th>
        <th>Tipo</th>
        <th>Data de pagamento</th>
        <th>Juros</th>
        <th>Amortização</th>
        <th>Seguro</th>
        <th>Taxas</th>
        <th>Ajustes</th>
        <th>Correção Monetária</th>
        <th>

    </thead>
<%= turbo_frame_tag "payments" do %>
  <%= render partial: 'header' %>
  <%= render partial: 'payment', collection: @payments, as: :payment, locals: { financing: @financing } %>
<% end %>
  </table>
