<div class="home-transaction-list-header home-transaction-list-grid">
  <div class="list-header-item"> <%= t('transactions.form.description') %></div>
  <div class="list-header-item"> <%= t('transactions.form.amount') %></div>
  <div class="list-header-item"> <%= t('transactions.form.kind') %></div>
  <div class="list-header-item"> <%= t('transactions.form.date') %></div>
  <div class="list-header-item"> <%= t('transactions.form.category') %></div>
  <div class="list-header-item"> <%= t('transactions.form.group') %></div>
</div>
