<div class="subtitle">
  <%= t('home.past_month_reports.title') %>
</div>

<div class="table-header">
  <%= t('home.past_month_reports.incomes') %>
  <%= t('home.past_month_reports.expenses') %>
  <%= t('home.past_month_reports.invested') %>
  <%= t('home.past_month_reports.month_balance') %>
</div>

  <%= turbo_frame_tag "past_month_reports" do %>
    <%= render partial: 'past_month_report', collection: past_reports, as: :past_report %>
  <% end %>
