<div class="subtitle">
  <%= t('home.past_month_reports.title') %>
</div>

<div class="home-list-header past-months-header-grid">
  <div class="list-header-item">
    <%= t('home.past_month_reports.month') %>
  </div>

  <div class="list-header-item">
    <%= t('home.past_month_reports.incomes') %>
  </div>

  <div class="list-header-item">
    <%= t('home.past_month_reports.expenses') %>
  </div>

  <div class="list-header-item">
    <%= t('home.past_month_reports.card_expenses') %>
  </div>

  <div class="list-header-item">
    <%= t('home.past_month_reports.invoice_payments') %>
  </div>

  <div class="list-header-item">
    <%= t('home.past_month_reports.invested') %>
  </div>

  <div class="list-header-item">
    <%= t('home.past_month_reports.redeemed') %>
  </div>

  <div class="list-header-item">
    <%= t('home.past_month_reports.month_balance') %>
  </div>
</div>

  <%= turbo_frame_tag "past_month_reports" do %>
    <%= render partial: 'past_month_report', collection: past_reports, as: :past_report %>
  <% end %>
