<div class="lcars-content">
  <div class="lcars-subtitle">
    <%= t('home.past_month_reports.title') %>
</div>

<div class="lcars-table-container">
  <table class="lcars-table">
    <thead>
      <tr>
        <th>
          <%= t('home.past_month_reports.month') %>
        </th>

        <th>
          <%= t('home.past_month_reports.incomes') %>
        </th>

        <th>
          <%= t('home.past_month_reports.expenses') %>
        </th>

        <th>
          <%= t('home.past_month_reports.card_expenses') %>
        </th>

        <th>
          <%= t('home.past_month_reports.invoice_payments') %>
        </th>

        <th>
          <%= t('home.past_month_reports.invested') %>
        </th>

        <th>
          <%= t('home.past_month_reports.redeemed') %>
        </th>

        <th>
          <%= t('home.past_month_reports.month_balance') %>
        </th>
      </tr>
    </thead>

    <tbody>
      <%= turbo_frame_tag "past_month_reports" do %>
        <%= render partial: 'past_month_report', collection: past_reports, as: :past_report %>
      <% end %>
    </tbody>
  </table>
</div>
