<%= turbo_frame_tag "report_#{past_report.id}" do %>

  <div class="list past-months-header-grid">
    <div class="list-item">
      <%= past_report.report_date %>
    </div>

    <div class="list-item">
      <%= past_report.month_income %>
    </div>

    <div class="list-item">
      <%= past_report.month_expense %>
    </div>

    <div class="list-item">
      <%= past_report.month_card_expenses %>
    </div>

    <div class="list-item">
      <%= past_report.month_invested %>
    </div>

      <div class="list-item">
        <%= past_report.month_balance %>
      </div>
  </div>
<% end %>
