  <div class="subtitle">
    <%= t('.summary') %>
  </div>
  <table class="striped">
    <thead>
      <tr>
        <th><%= t('.savings') %></th>
        <th><%= t('.investments') %></th>
        <th><%= t('.balance') %></th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= number_to_currency(user_report.savings_balance, unit: 'R$', separator: ',', delimiter: '.') %></td>
          <td><%= number_to_currency(user_report.investments_balance, unit: 'R$', separator: ',', delimiter: '.') %></td>
          <td><%= number_to_currency(user_report.month_total, unit: 'R$', separator: ',', delimiter: '.') %></td>
        </tr>
    </tbody>
  </table>

<div class="subtitle"><%= t('.current_month') %></div>

  <table class="striped">
    <thead>
      <tr>
        <th><%= t('.incomes') %></th>
        <th><%= t('.expenses') %></th>
        <th><%= t('.card_expenses') %></th>
        <th><%= t('.invested') %></th>
        <th><%= t('.dividends') %></th>
        <th><%= t('.month_balance') %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= number_to_currency(user_report.month_income, unit: 'R$ ', separator: ',', delimiter: '.') %></td>
        <td><%= number_to_currency(user_report.month_expense, unit: 'R$ ', separator: ',', delimiter: '.') %></td>
        <td><%= number_to_currency(user_report.month_card_expenses, unit: 'R$ ', separator: ',', delimiter: '.') %></td>
        <td><%= number_to_currency(user_report.month_invested, unit: 'R$ ', separator: ',', delimiter: '.') %></td>
        <td><%= number_to_currency(user_report.month_dividends, unit: 'R$ ', separator: ',', delimiter: '.') %></td>
        <td><%= number_to_currency(user_report.month_balance, unit: 'R$ ', separator: ',', delimiter: '.') %></td>
      </tr>
    </tbody>
  </table>
