  <div class="subtitle">
    <%= t('home.summary.title') %>
  </div>
  <table class="striped">
    <thead>
      <tr>
        <th><%= t('home.summary.savings') %></th>
        <th><%= t('home.summary.investments') %></th>
        <th><%= t('home.summary.balance') %></th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= number_to_currency(user_report.savings_balance, unit: 'R$', separator: ',', delimiter: '.') %></td>
          <td><%= number_to_currency(user_report.investments_balance, unit: 'R$', separator: ',', delimiter: '.') %></td>
          <td><%= number_to_currency(user_report.month_total, unit: 'R$', separator: ',', delimiter: '.') %></td>
        </tr>
    </tbody>
  </table>

<div class="subtitle"><%= t('home.summary.current_month.title') %></div>

  <table class="striped">
    <thead>
      <tr>
        <th><%= t('home.summary.current_month.incomes') %></th>
        <th><%= t('home.summary.current_month.expenses') %></th>
        <th><%= t('home.summary.current_month.card_expenses') %></th>
        <th><%= t('home.summary.current_month.invested') %></th>
        <th><%= t('home.summary.current_month.dividends') %></th>
        <th><%= t('home.summary.current_month.month_balance') %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= number_to_currency(user_report.month_income, unit: 'R$ ', separator: ',', delimiter: '.') %></td>
        <td><%= number_to_currency(user_report.month_expense, unit: 'R$ ', separator: ',', delimiter: '.') %></td>
        <td><%= number_to_currency(user_report.month_card_expenses, unit: 'R$ ', separator: ',', delimiter: '.') %></td>
        <td><%= number_to_currency(user_report.month_invested, unit: 'R$ ', separator: ',', delimiter: '.') %></td>
        <td><%= number_to_currency(user_report.month_dividends, unit: 'R$ ', separator: ',', delimiter: '.') %></td>
        <td><%= number_to_currency(user_report.month_balance, unit: 'R$ ', separator: ',', delimiter: '.') %></td>
      </tr>
    </tbody>
  </table>
