<% if current_user %>
  <div class="lcars-subtitle">
    <%= t('home.welcome') %> <%= current_user.name %>!!!
</div>

<div class="lcars-subtitle">
    <%= t('home.helpful_message')%>
    </div>

    <div class="item">
    <%= link_to t('home.summary_button'), summary_path, class: "lcars-button"%>
    <%= link_to t('home.accounts_button'), accounts_path, class: "lcars-button"%>
    <%= link_to t('home.cards_button'), cards_path, class: "lcars-button"%>
    <%= link_to t('home.categories'), categories_path, class: "lcars-button"%>
  </div>
  <% else %>
    <div class="lcars-subtitle">
      <h2><%= t('home.welcome_logged_out') %></h2>
      <p><%= link_to t('home.sign_up'), new_user_registration_path %> or <%= link_to t('home.sign_in'), new_user_session_path %></p>
    </div>
<% end %>
