<div class="past-summary-wrapper">
  <header class="lcars-header--section">
    <h1><%= t('home.past_summary.title') %>: <%= @data[:summary]&.reference %></h1>

    <%= form_with url: past_summary_path, method: :get, data: { turbo: false }, class: "lcars-form-inline" do |f| %>
      <%= select_tag :month, options_for_select((1..12).map { |m| [m.to_s.rjust(2, '0'), m] }, params[:month]), class: "browser-default" %>
      <%= select_tag :year, options_for_select((2024..2026).to_a, params[:year]), class: "browser-default" %>
      <button type="submit" class="lcars-button"><%= t('home.past_summary.filter') %></button>
    <% end %>
  </header>

  <div style="padding: 2rem;">
    <% if @data[:summary].present? %>

      <div class="lcars-summary-item">
        <div class="row">
          <div class="col s2">
            <%= t('home.past_summary.incomes') %>:<br>
            <span class="lcars-account-field"><%= number_to_currency(@data[:summary]["incomes"], unit: 'R$ ', separator: ',', delimiter: '.') %></span>
            <div><%= render partial: 'variation_badge', locals: { value: @data[:incomes_variation], inverted: false } %></div>
          </div>
          <div class="col s2">
            <%= t('home.past_summary.debit_expenses') %>:<br>
            <span class="lcars-account-field"><%= number_to_currency(@data[:summary]["expenses"], unit: 'R$ ', separator: ',', delimiter: '.') %></span>
            <div><%= render partial: 'variation_badge', locals: { value: @data[:expenses_variation], inverted: true } %></div>
          </div>
          <div class="col s2">
            <%= t('home.past_summary.credit_expenses') %>:<br>
            <span class="lcars-account-field"><%= number_to_currency(@data[:summary]["card_expenses"], unit: 'R$ ', separator: ',', delimiter: '.') %></span>
            <div><%= render partial: 'variation_badge', locals: { value: @data[:card_expenses_variation], inverted: true } %></div>
          </div>
          <div class="col s2">
            <%= t('home.past_summary.invested') %>:<br>
            <span class="lcars-account-field"><%= number_to_currency(@data[:summary]["investments"], unit: 'R$ ', separator: ',', delimiter: '.') %></span>
            <div><%= render partial: 'variation_badge', locals: { value: @data[:invested_variation], inverted: false } %></div>
          </div>
          <div class="col s2">
            <%= t('home.past_summary.balance') %>:<br>
            <span class="lcars-account-field"><%= number_to_currency(@data[:summary]["total"], unit: 'R$ ', separator: ',', delimiter: '.') %></span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m6">
          <h2 class="lcars-subtitle"><%= t('home.past_summary.expenses_by_category') %></h2>
          <div class="lcars-chart">
            <%= pie_chart @data[:charts][:categories], colors: ["#FF9900", "#9932CC", "#3366FF"] %>
          </div>
        </div>
        <div class="col s12 m6">
          <h2 class="lcars-subtitle"><%= t('home.past_summary.expenses_by_group') %></h2>
          <div class="lcars-chart">
            <%= bar_chart @data[:charts][:groups], colors: ["#FF6600"] %>
          </div>
        </div>
      </div>

      <h2 class="lcars-subtitle"><%= t('home.past_summary.details') %></h2>
      <table class="lcars-table">
        <thead>
          <tr>
            <th><%= t('home.past_summary.category') %></th>
            <th><%= t('home.past_summary.amount') %></th>
            <th><%= t('home.past_summary.percentual') %></th>
          </tr>
        </thead>
        <tbody>
          <% total_exp = @data[:summary]["expenses"].to_f %>
          <% @data[:category_data].each do |cat| %>
            <tr>
              <td><%= cat["name"] %></td>
              <td class="lcars-account-field"><%= number_to_currency(cat["total"], unit: 'R$ ', separator: ',', delimiter: '.') %></td>
              <td><%= number_to_percentage((cat["total"].to_f / total_exp) * 100, precision: 1) if total_exp > 0 %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    <% else %>
      <div class="lcars-content">
        <p><%= t('home.past_summary.no_data') %></p>
      </div>
    <% end %>
  </div>
</div>
