<main>

  <div class="item">
    <%= render 'summary', :user_report => @report_data.user_report %>

    <%= render 'accounts', :accounts => @report_data.accounts %>

    <%= render 'cards', :cards => @report_data.cards %>

    <%= render 'past_month_reports', :past_reports => @report_data.past_reports %>

    <%= render 'past_month_reports_charts', :semester_summary => @report_data.past_reports_chart_data %>

</main>
