<main>
  <div class="lcars-header lcars-header--section">
  <%= t('user.summary.title') %>
</div>
<div class="lcars-content">
    <%= render 'summary', :user_report => @report_data.user_report %>

    <%= render 'expenses_by_category_chart', :expense_by_category => @report_data.expense_by_category %>

    <%= render 'expenses_by_group_chart', :expenses_by_group => @report_data.expenses_by_group, :ideal => @report_data.ideal_expenses_data %>

    <%= render 'accounts', :accounts => @report_data.accounts %>

    <%= render 'cards', :cards => @report_data.cards %>

    <%= render 'past_month_reports', :past_reports => @report_data.past_reports %>

    <%= render 'past_month_reports_charts', :semester_summary => @report_data.past_reports_chart_data %>

    <%= render 'investments_allocation_chart', :investments_allocation => @report_data.investments_allocation_chart_data %>
    </div>
</main>
