<main class='lcars-container'>
  <%= turbo_frame_tag "first_turbo_frame" do %>
    <div class="lcars-header--section">
      <h1><%= t('account.show.transactions') %></h1>
    </div>
  <% end %>

<%= form_with url: transactions_path, method: :get, local: true do |f| %>
  <div class="field">
    <%= f.label :groups, t('transactions.form.group') %>

    <div class="input-field">
      <% groups_for_select.each do |name, value| %>
          <%= check_box_tag 'groups[]', value, params[:groups]&.include?(value), class: 'filled-in', id: "groups_#{value}" %>
          <%= label_tag "groups_#{value}", name %>
      <% end %>
    </div>
  </div>

  <div class="field">
          <%= f.label :category_id_eq, t('transactions.form.category') %>

    <div class="input-field">
      <% user_categories(current_user.id).each do |category| %>
          <%= check_box_tag 'categories[]', category.id, params[:category_]&.include?(category.name), class: 'filled-in', id: "categories_#{category.id}" %>
          <%= label_tag "categories_#{category.id}", category.name %>
      <% end %>
    </div>
  </div>

    <div class="button">
      <%= f.submit t('buttons.filter'), class: 'lcars-button lcars-button--secondary' %>

      <%= link_to t('buttons.back'), root_path, class: "lcars-button" %>
    </div>
  <% end %>

  <div class="lcars-table-container">
    <table class="lcars-table">
      <thead>
        <%= render partial: 'home/header' %>
      </thead>
  <%= turbo_frame_tag "transactions" do %>
  <tbody>
    <%= render partial: 'transaction', collection: @transactions %>
  </tbody>
  <% end %>
  </table>
  </div>
</main>
