<main class='item'>
  <%= turbo_frame_tag "first_turbo_frame" do %>
    <div class="header">
      <h1><%= t('account.show.transactions') %></h1>
    </div>
  <% end %>

  <%= search_form_for @q, url: transactions_path, method: :get do |f| %>
    <div class="field">
      <%= f.label :category_id_eq, t('transactions.form.category') %>
      <% categories = Category.where(user_id: current_user.id).pluck(:name, :id) %>

      <div class="input-field">
        <%= f.select :category_id_eq, options_for_select(categories, params.dig(:q, :category_id_eq)), { include_blank: true }, { class: "browser-default" } %>
      </div>
    </div>


    <div class="button">
      <%= f.submit t('buttons.filter'), class: 'btn btn--primary' %>

      <%= link_to t('buttons.back'), root_path, class: "btn btn--light" %>
  <% end %>

  <%= render partial: 'home/header' %>
  <%= turbo_frame_tag "transactions" do %>
    <%= render partial: 'transaction', collection: @transactions %>
  <% end %>
</main>
