<div class="item">
  <div class="subtitle">
    <%= t('investments.investments.show.summary.dividends.title') %>
  </div>
</div>

<div class="investment">
  <div>
    <%= t('investments.investments.show.summary.dividends.date') %>
  </div>

  <div>
    <%= t('investments.investments.show.summary.dividends.amount') %>
  </div>

  <div>
    <%= t('investments.investments.show.summary.dividends.shares') %>
  </div>
</div>

  <%= turbo_frame_tag "dividends" do %>
    <%= render partial: 'dividend', collection: investment.dividends %>
  <% end %>
