<div class="item">
  <div class="subtitle">
    <%= t('.dividends') %>
  </div>
</div>

<div class="investment">
  <div>
    <%= t('.date') %>
  </div>

  <div>
    <%= t('.amount') %>
  </div>
</div>

  <%= turbo_frame_tag "dividends" do %>
    <%= render partial: 'dividend', collection: investment.dividends %>
  <% end %>
