<div class="lcars-content">
  <div class="lcars-subtitle">
    <%= t('investments.investments.show.summary.earnings.title') %>
  </div>

<div class="lcars-table-container">
  <table class="lcars-table">
    <thead>
      <tr>
        <th>
    <%= t('investments.investments.show.summary.earnings.date') %>
  </th>

  <th>
    <%= t('investments.investments.show.summary.earnings.amount') %>
  </th>

  <th>
    <%= t('investments.investments.show.summary.earnings.shares') %>
  </th>

  <th>
    <%= t('investments.investments.show.summary.earnings.kind') %>
  </th>
</tr>
</thead>
  <%= turbo_frame_tag "earnings" do %>
<tbody>
    <%= render partial: 'earning', collection: investment.earnings %>
  </tbody>
  <% end %>
  </table>
</div>
