<%= turbo_frame_tag "earning_#{earning.id}" do %>
<tr>
  <td>
    <%= earning.date %>
  </td>

  <td>
    <%= earning.amount %>
  </td>

  <td>
    <%= earning.shares %>
  </td>

  <td>
    <%= earning.kind %>
  </td>
  </tr>
<% end %>
