<tr>
  <td><%= monthly_report.reference_date %></td>
  <td><%= monthly_report.starting_shares %></td>
  <td><%= monthly_report.starting_market_value %></td>
  <td><%= monthly_report.shares_bought %></td>
  <td><%= monthly_report.shares_sold %></td>
  <td><%= monthly_report.inflow_amount %></td>
  <td><%= monthly_report.outflow_amount %></td>
  <td><%= monthly_report.dividends_received %></td>
  <td><%= monthly_report.ending_shares %></td>
  <td><%= monthly_report.ending_market_value %></td>
  <td><%= monthly_report.accumulated_inflow_amount %></td>
  <td><%= monthly_report.average_purchase_price %></td>
  <td><%= monthly_report.monthly_appreciation_value %></td>
  <td><%= monthly_report.monthly_return_percentage %></td>
  <td><%= monthly_report.accumulated_return_percentage %></td>
  <td><%= monthly_report.portfolio_weight_percentage %></td>
</tr>
