<div class="item">
  <div class="subtitle">
    <%= t('.negotiations') %>
  </div>
</div>

<div class="investment">
  <div>
<%= t('.date') %>  </div>

  <div>
    <%= t('.amount') %>
  </div>

  <div>
    <%= t('.shares') %>
  </div>

    <div>
    <%= t('.kind') %>
  </div>
</div>

  <%= turbo_frame_tag "negotiations" do %>
    <%= render partial: 'negotiation', collection: investment.negotiations %>
  <% end %>
