<div class="item">
  <div class="subtitle">
    <%= t('investments.investments.show.summary.negotiations.title') %>
  </div>
</div>

<div class="earnings-list-header negotiations-header-grid">
  <div class="list-header-item">
    <%= t('investments.investments.show.summary.negotiations.date') %>
  </div>

  <div class="list-header-item">
    <%= t('investments.investments.show.summary.negotiations.amount') %>
  </div>

  <div class="list-header-item">
    <%= t('investments.investments.show.summary.negotiations.shares') %>
  </div>

  <div class="list-header-item">
    <%= t('investments.investments.show.summary.negotiations.kind') %>
  </div>
</div>

  <%= turbo_frame_tag "negotiations" do %>
    <%= render partial: 'negotiation', collection: investment.negotiations %>
  <% end %>
