<div class="lcars-content">
  <div class="lcars-subtitle">
    <%= t('investments.investments.show.summary.negotiations.title') %>
  </div>


<div class="lcars-table-container">
  <table class="lcars-table">
<thead>
  <tr>
    <th>
    <%= t('investments.investments.show.summary.negotiations.date') %>
  </th>

  <th>
    <%= t('investments.investments.show.summary.negotiations.amount') %>
  </th>

  <th>
    <%= t('investments.investments.show.summary.negotiations.shares') %>
  </th>

  <th>
    <%= t('investments.investments.show.summary.negotiations.kind') %>
  </th>
</tr>
</thead>

  <%= turbo_frame_tag "negotiations" do %>
<tbody>
    <%= render partial: 'negotiation', collection: investment.negotiations %>
    </tbody>
  <% end %>
  </table>
</div>
