<%= turbo_frame_tag "negotiation_#{negotiation.id}" do %>
  <tr>
    <td>
      <%= negotiation.date %>
    </td>

    <td>
      <%= negotiation.amount %>
    </td>

    <td>
      <%= negotiation.shares %>
    </td>

    <td>
      <%= negotiation.formatted_kind %>
    </td>
  </tr>
<% end %>
