<%= turbo_frame_tag "negotiation_#{negotiation.id}" do %>
  <div class="list negotiations-header-grid">
    <div class="list-item">
      <%= negotiation.date %>
    </div>

    <div class="list-item">
      <%= negotiation.amount %>
    </div>

    <div class="list-item">
      <%= negotiation.shares %>
    </div>

    <div class="list-item">
      <%= negotiation.kind %>
    </div>
  </div>
<% end %>
