<div class="lcars-content">
  <div class="lcars-subtitle">
    <%= t('investments.investments.show.summary.positions.title') %>
  </div>


  <div class="lcars-table-container">
    <table class="lcars-table">
      <thead>
        <tr>
          <th>
    <%= t('investments.investments.show.summary.positions.date') %>
  </th>

  <th>
    <%= t('investments.investments.show.summary.positions.amount') %>
  </th>

  <th>
    <%= t('investments.investments.show.summary.positions.shares') %>
  </th>
</tr>
</thead>

  <%= turbo_frame_tag "positions" do %>
<tbody>
    <%= render partial: 'position', collection: investment.positions %>
  </tbody>
  <% end %>
  </table>
  </div>
