<div class="item">
  <div class="subtitle">
    <%= t('investments.investments.show.summary.positions.title') %>
  </div>
</div>

<div class="earnings-list-header positions-header-grid">
  <div class="list-header-item">
    <%= t('investments.investments.show.summary.positions.date') %>
  </div>

  <div class="list-header-item">
    <%= t('investments.investments.show.summary.positions.amount') %>
  </div>

  <div class="list-header-item">
    <%= t('investments.investments.show.summary.positions.shares') %>
  </div>
</div>

  <%= turbo_frame_tag "positions" do %>
    <%= render partial: 'position', collection: investment.positions %>
  <% end %>
