<%= turbo_frame_tag 'investment_summary' do %>
<div class="item">
  <div class="subtitle">
    <%= t('investments.investments.show.summary.title') %>
  </div>

  <table class="striped">
    <thead>
      <tr>
        <th><%= t('investments.investments.show.summary.balance') %></th>

      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= investment.balance %></td>
        </tr>
    </tbody>
  </table>

<div class="subtitle"><%= t('investments.investments.show.summary.current_month') %></div>
        <p><span class="item-label"><%= t('investments.investments.show.summary.kind') %>:
         </span>
         <%= investment.kind %></p>
  <table class="striped">
    <thead>
      <tr>
        <th><%= t('investments.investments.show.summary.invested') %> </th>
        <th><%= t('investments.investments.show.summary.current_amount') %></th>
        <th><%= t('investments.investments.show.summary.current_total_amount') %></th>
        <th><%= t('investments.investments.show.summary.shares') %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= investment.invested_amount %></td>
        <td><%= investment.current_amount %></td>
        <td><%= investment.balance %></td>
        <td><%= investment.shares_total %></td>
      </tr>
    </tbody>
  </table>
</div>
<% end %>
