<%= turbo_frame_tag 'investment_summary' do %>
<div class="lcars-content">
  <div class="lcars-subtitle">
    <%= t('investments.investments.show.summary.title') %>
  </div>
  <div >
    <%= t('investments.investments.show.summary.kind') %>: <%= investment.kind %>
  </div>
  <div >
    <%= t('account.show.investments.bucket') %>: <%= investment.bucket %>
  </div>
  <div class="lcars-table-container">
  <table class="lcars-table">
    <thead>
      <tr>
        <th><%= t('investments.investments.show.summary.invested') %> </th>
        <th><%= t('investments.investments.show.summary.shares') %></th>
        <th><%= t('investments.investments.show.summary.average_price') %></th>
        <th><%= t('investments.investments.show.summary.current_amount') %></th>
        <th><%= t('investments.investments.show.summary.balance') %></th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= investment.invested_amount %></td>
          <td><%= investment.shares_total %></td>
          <td><%= investment.average_price %></td>
          <td><%= investment.current_amount %></td>
          <td><%= investment.balance %></td>
        </tr>
    </tbody>
  </table>
  </div>
</div>
<% end %>
