<%= turbo_frame_tag 'investment_summary' do %>
<div class="item">
  <div class="subtitle">
    <%= t('.summary') %>
  </div>
  
  <table class="striped">
    <thead>
      <tr>
        <th><%= t('.balance') %></th>

      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= number_to_currency(investment.current_value, unit: 'R$', separator: ',', delimiter: '.') %></td>
        </tr>
    </tbody>
  </table>

<div class="subtitle"><%= t('.current_month') %></div>
        <p><span class="item-label">Tipo: </span><%= investment.kind %></p>
  <table class="striped">
    <thead>
      <tr>
        <th><%= t('.invested') %></th>
        <th><%= t('.current') %></th>
        <th><%= t('.shares') %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= number_to_currency(investment.invested_value, unit: 'R$ ', separator: ',', delimiter: '.') %></td>
        <td><%= number_to_currency(investment.current_value, unit: 'R$ ', separator: ',', delimiter: '.') %></td>
        <td><%= investment.shares_total %></td>
      </tr>
    </tbody>
  </table>
</div>
<% end %>
