<div class="item">
  <div class="header">
  <%= link_to t('buttons.back'),
      account_path(@investment.account_id),
      data: { turbo_frame: "_top" },
      class: "btn btn--primary" %>

      <h1><%= @investment.name %></h1>
    </div>
</div>

  <div class="button">
      <%= link_to t('investments.investments.show.new_position'),
                  new_investment_position_path(@investment),
                  data: { turbo_frame: "new_position" },
                  method: :get,
                  class: "btn btn--light" %>

      <%= link_to t('investments.investments.show.new_negotiation'),
                  new_investment_negotiation_path(@investment),
                  data: { turbo_frame: "new_negotiation" },
                  method: :get,
                  class: "btn btn--light" %>

      <%= link_to t('investments.investments.show.new_dividend'),
                  new_investment_dividend_path(@investment),
                  data: { turbo_frame: "new_dividend" },
                  method: :get,
                  class: "btn btn--light" %>

    <%= turbo_frame_tag "new_position" %>
    <%= turbo_frame_tag "new_negotiation" %>
    <%= turbo_frame_tag "new_dividend" %>
  </div>

<div class="item">
    <%= render 'summary', :investment => @investment %>

    <%= render 'positions', :investment => @investment %>

    <%= render 'positions_chart', :positions => @investment.positions_chart_data %>

    <%= render 'dividends', :investment => @investment %>

    <%= render 'dividends_chart', :dividends => @investment.dividends_chart_data %>

    <%= render 'negotiations', :investment => @investment %>

    <%= render 'negotiations_chart', :negotiations => @investment.negotiations_chart_data %>

</div>
