<main class="container">
  <%= turbo_frame_tag "first_turbo_frame" do %>

    <div class="header">
      <h1><%= t('investments.interest_on_equity.index.title') %></h1>
      <%= link_to t('investments.interest_on_equity.index.new_interest_on_equity'),
                  new_investment_interest_on_equity_path(investment_id: params[:investment_id]),
                  data: { turbo_frame: "new_interest_on_equity" },
                  class: "btn btn--primary" %>
    </div>
  <% end %>

  <%= turbo_frame_tag "new_interest_on_equity" %>

  <%= turbo_frame_tag "interest_on_equities" do %>
    <%= render partial: 'interest_on_equity', collection: @interest_on_equities %>
  <% end %>

</main>
