<%= turbo_frame_tag card do %>

<div class="card">
  <%= link_to card.name, card_path(card),
                data: { turbo_frame: "_top" }  %>

  <div>
    R$ <%= card.balance %>
  </div>

  <div>
    <%= card.kind %>
  </div>

  <div class="card__actions">
    <%= button_to t('buttons.delete'),
                  card_path(card),
                  method: :delete,
                  class: "btn btn--light" %>
    <%= link_to t('buttons.edit'),
                edit_card_path(card),
                class: "btn btn--light" %>
  </div>
</div>
<% end %>
