<%= turbo_frame_tag "report_#{future_report.id}" do %>
  <tr>
    <td><%= future_report.report_date %></td>

    <td><%= future_report.month_income %></td>

    <td><%= future_report.month_expense %></td>

    <td><%= future_report.month_balance %></td>
  </tr>
<% end %>
