<%= turbo_frame_tag "report_#{future_report.id}" do %>
  <div class="list card-months-header-grid">
    <div class="list-item">
      <%= future_report.report_date %>
    </div>

    <div class="list-item">
      <%= future_report.month_income %>
    </div>

    <div class="list-item">
      <%= future_report.month_expense %>
    </div>

    <div class="list-item">
      <%= future_report.month_balance %>
    </div>
  </div>
<% end %>
