<main class="container">
  <%= turbo_frame_tag "first_turbo_frame" do %>

    <div class="header">
  <%= link_to sanitize("&larr; Voltar para Cartões"), cards_path %>
      <h1><%= @card.name %></h1>

    </div>
  <% end %>
<div class="button">
  <%= link_to "Transações",
              account_transactions_path(@card, future: 'false'),
              method: :get,
              class: "btn btn--light" %>

  <%= turbo_frame_tag "invoice_payment" do %>
    <%= link_to "Pagar Fatura",
                  new_card_invoice_path(@card),
                  method: :get,
                  class: "btn btn--light",
                  data: { turbo_frame: "invoice_payment" } %>
  <% end %>
</div>

    <%= render 'summary', :card => @card %>
</main>
