<div class="item">
  <div class="header">
  <%= link_to t('buttons.back'),
      cards_path,
      data: { turbo_frame: "_top" },
      class: "btn btn--primary" %>
  <h1><%= @card.name %></h1>
  </div>
</div>

<div class="button">
  <%= link_to t('card.show.transactions'),
              account_transactions_path(@card, future: 'false'),
              method: :get,
              class: "btn btn--light" %>

  <%= turbo_frame_tag "invoice_payment" do %>
    <%= link_to t('card.show.pay_invoice'),
                  new_card_invoice_path(@card),
                  method: :get,
                  class: "btn btn--light",
                  data: { turbo_frame: "invoice_payment" } %>
    <%= link_to t('card.show.consolidate_report'),
                  consolidate_report_account_path(@card.id),
                  method: :get,
                  class: "btn btn--light" %>
  <% end %>
</div>

    <%= render 'summary', :card => @card %>
