<div class="lcars-container">
  <%= turbo_frame_tag "first_turbo_frame" do %>

    <div class="lcars-header lcars-header--section">
      <h1><%= t('category.index.categories') %></h1>
      <%= link_to t('category.index.new_category'),
                  new_category_path,
                  data: { turbo_frame: "new_category" },
                  class: "lcars-button" %>
    </div>
  <% end %>

  <%= turbo_frame_tag "new_category" %>
  <%= turbo_frame_tag "categories" do %>
    <div class="lcars-list">
      <%= render @categories %>
    </div>
  <% end %>

</main>
